*.pyc
/a_cordes_backend/db.sqlite3
.DS_Store
.env
*/settings_prod.py
/staticfiles/*
/mediafiles/*
*/__pycache__/*

# IDEs
.vscode/
.idea/

# data
*.dump

# npm
**/node_modules/**
npm-debug.log

# Webpack
a_cordes_backend/a-cordes-frontend/bundles/*
a_cordes_backend/a-cordes-frontend/webpack_bundles/*
a_cordes_backend/webpack-stats.json

# Build
a_cordes_backend/a-cordes-frontend/build/*

# Sass
.sass-cache
*.map
