@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-size: 16px;
        @apply bg-zinc-200 text-zinc-700;
    }

    @media only screen and (max-width: 480px) {
        /* For mobile phones: */
        :root {
            font-size: 14px;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply select-none uppercase tracking-wider font-semibold;
    }

    h1 {
        @apply text-6xl text-black font-serif;
    }

    h2 {
        @apply text-5xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }

    h5 {
        @apply text-xl;
    }

    h6 {
        @apply text-lg;
    }

    a {
        @apply text-amber-900 font-semibold hover:underline;
    }
}

@layer components {
    .button {
        @apply mx-auto w-full py-3 overflow-hidden rounded-md my-auto 
               flex tracking-wider border-transparent border-2 transition-all 
               duration-200 px-6 text-center font-semibold relative;
    }

    .button-primary {
        @apply bg-stone-800 text-white uppercase content-center 
               hover:bg-stone-200 hover:text-black hover:border-2 
               border-stone-700;
    }

    .button-secondary {
        @apply border-2 border-wood bg-stone-100 hover:brightness-[105%] uppercase content-center;
    }

    .button-tertiary {
        @apply hover:underline text-amber-900;
    }

    .button-tertiary.disabled {
        @apply opacity-60 cursor-default hover:no-underline;
    }

    .disabled {
        @apply active:border-stone-800;
    }

    .accordion-content {
        overflow: hidden;
        animation: translateYTransition 200ms ease-out;
    }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .fade-in-out {
        animation: fadeInOut 100ms ease-in-out;
    }

    @keyframes fadeInOut {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

    @keyframes translateYTransition {
        0% {
            transform: translateY(-100px);
        }
    
        100% {
            transform: translateY(0);
        }
    }
}
