@tailwind components;

@layer components {
    .dropdownContainer {
        animation: slideInOut 200ms ease-out;
    }

    @keyframes slideInOut {
        0% {
            opacity: 0;
            transform: translateX(5em);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}